
# Claude Code image analysis intermediates
04-Homework-Solutions/2026w/images/_crop_*
04-Homework-Solutions/2026w/images/_edges_*
04-Homework-Solutions/2026w/images/_enhanced_*
04-Homework-Solutions/2026w/images/_threshold_*
04-Homework-Solutions/2026w/images/_content_*
04-Homework-Solutions/2026w/images/_cropped_*
